body .head {
    color:black;
    font-family:BookAntiqua;
    text-align: left;
    font-weight: bold;
    background-color: cornflowerblue;
}

body {
    background-color:rgb(255, 255, 255);
    margin-top: 1in;
    margin-right: 4in;
    margin-left: 4in;
    margin-bottom: 1in;
}

p {
    text-align: center;
    font-size:  20px;
}

.image {
    width: 1000px;
    text-align: center;
}