body .head {
    color:black;
    font-family:BookAntiqua;
    text-align: left;
    font-weight: bold;
    background-color: cornflowerblue;
}

body {
    background-color:rgb(255, 255, 255);
    margin-top: 1in;
    margin-right: 4in;
    margin-left: 4in;
    margin-bottom: 1in;
}

.intro {
    text-align: center;
    font-size:  25px;
}

.image {
    width:max-content;
    align-content: center;
}
.moto {
    width: 350px;
    align-content: flex-end;
    float: left;
}
p {
    text-align: center;
    font-size: 25px;
}